.tela{

}
.some{
	display: none !important;
	visibility: hidden !important;


}

.invisible{
  visibility: hidden;
}

.visible{
  visibility: visible;
}
.show{
	display: block !important;
	visibility: visible !important;
}
.plano{
	width: 100vw;
	height: 100vh;
	left: 75%;
	margin-left: -37vw;
	transform-style: preserve-3d;
	transform-origin: center center;
	-webkit-animation: moveOnZ 2s infinite ease-in-out alternate;
	animation: moveOnZ 2s infinite ease-in-out alternate;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	box-sizing: initial;
	overflow: visible;
}
.quadro{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0%;
	left: 0%;
	display: flex;
  	margin-left: auto; 
  	margin-right: auto; 
	align-self: center;
	transform-origin: center center;
	z-index: 9998;
}
.quadro2{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0%;
	left: 0%;
	display: flex;
  	margin-left: auto; 
  	margin-right: auto; 
	align-self: center;
	transform-origin: center center;
	z-index: 9999;
}

.perspective{
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: 
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cline x1='0' y1='50' x2='200' y2='50' stroke='black' stroke-width='1' vector-effect='non-scaling-stroke'%3E%3C/line%3E%3C/svg%3E"),
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cline x1='50' y1='0' x2='50' y2='100' stroke='black' stroke-width='1' vector-effect='non-scaling-stroke'%3E%3C/line%3E%3C/svg%3E"),
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cline x1='-10' y1='15' x2='50' y2='50' stroke='black' stroke-width='1' vector-effect='non-scaling-stroke'%3E%3C/line%3E%3C/svg%3E"),
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cline x1='120' y1='90' x2='50' y2='50' stroke='black' stroke-width='1' vector-effect='non-scaling-stroke'%3E%3C/line%3E%3C/svg%3E")
			;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 999999;
  	display: none;
}

.plano1{
	position: fixed;
	width: 130vw;
	height: 130vh;
	transition: 1s linear;
  	transform-origin: center;
	left: 75%;
  	top: calc(50% + (-50vh));
}

.plano2{
	position: fixed;
	width: 70vw;
	height: 70vh;
	transition: 1s linear;
	transform-origin: center;
	left: 75%;
	top: calc(50% + (-35vh));
}
.plano3{
	position: fixed;
	width: 40vw;
	height: 40vh;
	transition: 1.4s linear;
	transform-origin: center;
	transform-style: preserve-3d;
	left: 75%;
	top: calc(50% + (-20vh));
}
.plano4{
	position: fixed;
	width: 25vw;
	height: 25vh;
	transition: 1.5s linear;
	transform-origin: center;
	transform-style: preserve-3d;
	left: 75%;
	top: calc(50% + (-12.5vh));
}
.plano5{
	position: fixed;
	width: 15vw;
	height: 15vh;
	transition: 1.6s linear;
	transform-origin: center;
	transform-style: preserve-3d;
	left: 75%;
	top: calc(50% + (-7.5vh));
	left: calc(83.9% + (-7.5vh));
	margin-right: auto;
}
.plano6{
	position: fixed;
	width: 5vw;
	height: 5vh;
	transition: 1.7s linear;
	transform-style: preserve-3d;
	transform-origin: center;
	top: calc(50% + (-2.5vh));
	left: calc(86.1% + (-2.5vh));
	margin-right: auto;
}
/*-------Move Planos*/

/* esqueda */
.statePlano1 {
	transform: scale(1.4);
	transform-style: preserve-3d;
  	-webkit-animation: moveOnZ 2s infinite ease-in-out alternate;
    animation: moveOnZ 1s infinite ease-in-out alternate;
	opacity: 0;   
}
.statePlano2 {
	transform: scale(1);
	-webkit-animation: moveOnZ 2s infinite ease-in-out alternate;
    animation: moveOnZ 1s infinite ease-in-out alternate;
	opacity: 1; 
}
.statePlano3 {
  	transform: scale(0.6);
	-webkit-animation: moveOnZ 2s infinite ease-in-out alternate;
    animation: moveOnZ 1s infinite ease-in-out alternate;
	opacity: 0.9; 
}
.statePlano4 {
  	transform: scale(0.3);
	-webkit-animation: moveOnZ 2s infinite ease-in-out alternate;
    animation: moveOnZ 1s infinite ease-in-out alternate;
	opacity: 0.6; 
}
.statePlano5 {
	transform: scale(0.1);
	-webkit-animation: moveOnZ 2s infinite ease-in-out alternate;
    animation: moveOnZ 1s infinite ease-in-out alternate;
	opacity: 0.2;
}
.statePlano6 {
	transform: scale(0.03);
	-webkit-animation: moveOnZBye 2s infinite ease-in-out alternate;
    animation: moveOnZBye 1s infinite ease-in-out alternate;
	opacity: 0.08;
}



@keyframes move {
  0% {
      left: 5%;
  }
  100% {
      left: 1%;
  }
}

@-webkit-keyframes moveOnZ {
  from {
    -webkit-transform: translateZ(20vw);
            transform: translateZ(20vw);
  }
  to {
    -webkit-transform: translateZ(10vw);
            transform: translateZ(10vw);
  }
}

@keyframes moveOnZ {
  from {
    -webkit-transform: translateZ(-50px);
            transform: translateZ(-50px);
  }
  to {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
  }
}

@-webkit-keyframes moveOnZBye {
  from {
    -webkit-transform: translateZ(20vw);
            transform: translateZ(20vw);
            opacity: 0;
  }
  to {
    -webkit-transform: translateZ(10vw);
            transform: translateZ(10vw);
            opacity: 1;
  }
}

@keyframes moveOnZBye {
  from {
    -webkit-transform: translateZ(-50px);
            transform: translateZ(-50px);
  }
  to {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
  }
}

/*----Astronauta*/

/* assign animation to ball element */
.rostinho01 {
  overflow: visible;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../public/images/rostinho01.svg);
  background-color: yellow;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;
  position: fixed;
  top:0;
  left: 0;
  transition: 0.5s ease;
  z-index: 99999;

}
.rostinho02{
  background-image: url(../../../public/images/rostinho02.svg);
  transition: 0.5s ease;
}
.rostinho03{
	animation: 1s moveRos linear;
	background-image: url(../../../public/images/rostinho02.svg);
  transition: 0.5s ease;
    background-color: yellow;
	opacity: 0;
}


@keyframes moveRos {
  0% {
	background-image: url(../../../public/images/rostinho02.svg);
	transform: scale(1);
	  background-color: yellow;
	opacity: 1;
  }
  25%{
	background-image: url(../../../public/images/rostinho02.svg);
	transform: scale(1);
	opacity: 1;
  }
  50%{
	background-image: url(../../../public/images/rostinho03.svg);
	transform: scale(1.5);
	opacity: 1;
  }
  75% {
    background-image: url(../../../public/images/rostinho04.svg);
    transform: scale(1.8);
    opacity: 1;
  }
  100% {
      background-image: url(../../../public/images/rostinho04.svg);
      transform: scale(2.2);
      opacity: 0	;
  }
}


.text1 {
  
  overflow: visible;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../public/images/text1.svg);
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  z-index: 1;
  transition: 3s ease-in-out;

}

/*----------Fim*/

/*----Astronauta*/

/* assign animation to ball element */
.text2 {
  
  overflow: visible;
  width: 100%;
  height: 100%;
  background-image: url(../../../public/images/text2.svg);
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 1;
  animation-fill-mode: forwards;
  transition: 3s ease-in-out;

}



/*----------Fim*/
/*----Astronauta*/

/* assign animation to ball element */
.text3 {
  
  overflow: visible;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../public/images/juice.svg);
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  -webkit-animation-delay: 5s;
   animation-delay: 5s;
  display:none;
  z-index: 1;
  animation-fill-mode: forwards;

}



.laranja {
  animation: 4s move alternate infinite;
  width: 616px;
  height: 484px;
  background-image: url(../../../public/images/lara.svg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  animation-delay: 1s;
  transition: 3s ease;
  overflow: visible;
  left: -10%;
  transform-origin: 20% 40%;
  margin-left: -70%;
  margin-top: 30%;
}

.astronauta {
  animation: 4s move alternate infinite;
  overflow: visible;
  width: 250px;
  height: 281px;
  background-image: url(../../../public/images/limaoastronauta.svg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: 1s ease;
  left: 10vw;
  top:0%;
  transform-origin: 20% 40%;
  margin-left: -60%;
  margin-top: 5%;
  
}

@keyframes moveAstro {
  0% {
      left: 5%;
  }
  100% {
      left: 1%;
  }
}


/*----------Fim*/

/*----Astronauta*/

/* assign animation to ball element */
.dente {
  animation: 4s moveDent linear;
  overflow: visible;
  width: 395px;
  height: 161px;
  background-image: url(../../../public/images/pedacos.svg);
  background-size: cover;
  background-position: center center;
  position: fixed;
  transition: 4s ease;
  left: 10vw;
  top:0%;  
}

@keyframes moveDent {
  0% {
      top: 0%;
  }
  100% {
      left: 10%;
  }
}


.estrelas {
  animation: 4s moveEstrelas alternate infinite;
  overflow: visible;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../public/images/estrelas.svg);
  background-size: cover;
  background-position: center center;
  position: fixed;
  transition: 6s ease;
  left: 10vw;
  top:0%;  
}

@keyframes moveEstrelas {
  0% {
      opacity:  70%;
  }
  100% {
      opacity: 90%;
  }
}

.asteroides {
  animation: 4s move alternate infinite;
  width: 800px;
  height: 600px;
  background-image: url(../../../public/images/asteroides.svg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  animation-delay: 1s;
  transition: 3s ease;
  overflow: visible;
  left: -10%;
  transform-origin: 20% 40%;
  margin-left: -70%;
  margin-top: 30%;


}

.satelite {
  animation: 9s moveSat alternate infinite;
  width: 282px;
  height: 190px;
  overflow: visible;
  background-image: url(../../../public/images/satelite.svg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  display: flex;
  transition: 1s ease;
  margin-left: 55%;
  margin-top: 10%;
  transform-origin: 10% 20%;

}

@keyframes moveSat {
  0% {
      left: 10%;
  }
  100% {
      left: -10%;
  }
}
/*----------Fim*/


.bolas{ 
	position: absolute;
 
	background-position: center center;
	background-repeat: no-repeat;
	animation: 2.8s go-cenaBg linear infinite;
	align-self: center center;
  width: 300px;
  height: 210px;
  background-size: contain;
  transform-origin: center;
}

.pedacos {
  animation: 2s move alternate infinite;
  width: 282px;
  height: 190px;
  overflow: visible;
  background-image: url(../../../public/images/pedacos.svg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: 1s ease;
  margin-left: 80%;
  margin-top: 10%;

}
.lingua {
  width: 100vw;
  height: 100vh;
  background-image: url(../../../public/images/lingua.svg);
  background-size: initial;
  background-position: center bottom ;
  position: fixed;
  background-repeat: no-repeat;
  bottom: 0;
  top: 0;
  opacity: 1;
  transition: 3s ease;
}
.nuvem {
  animation: 4s move alternate infinite;
  width: 705px;
  height: 629px;
  background-image: url(../../../public/images/nuvem.svg);
  background-size: cover;
  background-position: center center;
  position: relative;
  transition: 3s ease;
  transform: scale(0.08, 0.08);
}

.nuvensLara {
  width: 1440px;
  height: 1964px;
  background-image: url(../../../public/images/nuvens.svg);
  background-size: contain;
  background-position: center top;
  position: relative;
}

.laranja {
  animation: 4s move alternate infinite;
  width: 171px;
  height: 135px;
  background-image: url(../../../public/images/laranjasombra.svg);
  background-size: cover;
  background-position: center center;
  position: relative;
  transition: 3s ease;
  transform: scale(0.08, 0.08);
}



/*----------Fim*/



@media (max-width: 600px) {
	.plano{
		width: 100% !important;
		margin-left: 0;
		left: 0;
	}
	.text2{
		width: 100%;
		background-size: 80%;
	}
	@keyframes moveText2 {
	  0% {
	      background-size: 0%;
	  }
	  100% {
	      background-size: 80%;
	  }
	}

	@keyframes moveText2Bye {
	  0% {
	      background-size: 80%;
	      opacity: 1;
	  }
	  100% {
	      background-size: 150%;
	      opacity: 0;
	  }
	}
}