@font-face {
font-family: "BalginRegular";
src: local("BalginRegular"),
 url("../fonts/Balgin-Regular.ttf") format("truetype");
}

@font-face {
font-family: "BalginBlack";
src: local("BalginBlack"),
 url("../fonts/Balgin-Black.ttf") format("truetype");
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: BalginRegular, sans-serif;
  user-select: none;
  transition: all .5s ease-in-out;
  

}

html{
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 1s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}




html { font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); }
h1, h2{
  font-size: 1.2rem;

  color: #fff;
  text-shadow: 4px 4px black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-family: BalginBlack;
}
p{
  color: #fff;
  text-shadow: 2px 2px black;

  -webkit-text-stroke-color: black;
  font-family: BalginRegular;
}
/*main::before {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 30%;
    bottom: 0;
    background-size: 100%, 30px 30px, 30px 30px;
    background-image:repeating-linear-gradient(to right, #1b90bb, #1b90bb 1px, #fff 0px, #fff 40px);
    transform:  perspective(300px) rotateX(45deg);
  }
main:after {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 30%;
    background-size: 100%, 30px 30px, 30px 30px;
    background-image:repeating-linear-gradient(to right, #1b90bb, #1b90bb 1px, #fff 0px, #fff 40px);
    transform:  perspective(180px) rotateX(-45deg);
  }*/

* {
  box-sizing: border-box;
  cursor: url('../public/images/seta.svg'),
  move;
}

