
.stage{
  overflow-y: hidden;
}
.loading{
  background-color: #FCFF3F;
  width: 100vw;
  height: 100vh;
  transition: 2s ease-in-out;
  top: 0;
  left: 0;
  position: fixed;
}
.section{
  width: 100vw;
  margin:0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

.cenas{
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  height: 100vh;
  position: relative;
  max-height: 100vh;
  min-height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  scroll-snap-align: center;
  overflow: hidden;
}
.cena1{
  background-color: yellow;
}
.cena2{
  background-color: #030D78;

}
.cena3{
  background-color: #030D78;
} 
.cena4{
  background-color: #030D78;
  animation-delay: 2s;
  animation: go-blue 10s linear;
}
.cena5{
  background-color: #030D78;
  animation-delay: 2s;
  animation: go-blue 10s linear;
  animation-fill-mode: forwards;
}
.cena12{
  background-image: url(../public/images/bg12.svg);
  background-color: #04D493;
  background-position: right 30%;
  background-repeat:no-repeat;
}
@keyframes go-blue {
  0% {
      background-color: #030D78;
  
  }
  50% {
      background-color: #030D78;
  
  }
  100% {
    background-color: #023AEC;
    
  }
}

.cena5change{
  background-color: #023AEC;
}

.cena11{

  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #FA5E85;
  background-image: 
    url(../public/images/para1.svg), 
    url(../public/images/para2.svg), 
    url(../public/images/para3.svg);
  background-size: 105% ;
  background-repeat: no-repeat;
  background-position: bottom;


}

.cena6{

  position: relative;
  width: 100%;
  height: 100vh;
  background-image: 
    url(../public/images/paraJ1.svg), 
    url(../public/images/paraJ2.svg), 
    url(../public/images/paraJ3.svg);
  background-size: 105%;
  background-repeat: no-repeat;

  background-position: bottom center;

  background-color: #023AEC;
  color: #ffff
 

}
.titleC11{
  font-size: 52px;
  color:#fff;
  font-family: BalginBlack;
  position: absolute;
  margin-top:30vh;
  margin-left: 10vw;
  width: 350px;
  text-shadow: 4px 4px black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  line-height: 45px;
}
.textC11{
  font-size: 16px;
  margin-top: 40vh;
  position: absolute;
  margin-left: 65vw;
  width: 350px;
  text-shadow: 2px 2px black;
  color: #fff;
}

.titleC12{
  font-size: 52px;
  color:#fff;
  font-family: BalginBlack;
  position: absolute;
  margin-top:30vh;
  margin-left: 10vw;
  width: 350px;
  text-shadow: 4px 4px black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.textC12{
  font-size: 16px;
  margin-top: 50vh;
  position: absolute;
  margin-left: 10vw;
  width: 500px;
  text-shadow: 2px 2px black;
  color: #fff;
}
.buttom12{
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  height: 79px;
  line-height: 60px;
  padding: 10px 30px;
  width: auto;
  top:70%;
  right: 10%;
  display: block;
  position: absolute;
  margin: 0 10px;
  color: #000;
  font-family: BalginBlack;
  font-size: 32px;
  text-shadow: none;
  border: 2px solid #000;
  box-shadow: 6px 6px #000;
}

.title6{
  font-size: 52px;
  font-family: BalginBlack;
  position: absolute;
  margin-top:30vh;
  margin-left: 10vw;
  width: 350px;
  text-shadow: 4px 4px black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

}
.text6{
  font-size: 16px;
  margin-top: 60vh;
  position: absolute;
  margin-left: 10vw;
  width: 450px;
  text-shadow: 2px 2px black;
}
.cena7{
  background-image: url(../public/images/cenario.svg);
  background-size: cover;
  background-position: center center;
  z-index: 99999;
}
.title7{
  font-size: 52px;
  font-family: BalginBlack;
  margin-top:20vh;
  line-height: 52px;
  margin-left: 20px;
  max-width: 350px;
  text-shadow: 4px 4px black;
      stroke: 1px black;
      color: #fff;
      -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

}
.text7{
  font-size: 16px;
  line-height: 18px;
  margin-top: 28vh;
  margin-left: 40px;
  width: 250px;
  text-shadow: 2px 2px black;
  color: #fff;
}
.container7{
  position: absolute;

  display: flex;
  width: 70%;
  margin-left: 15%;
  
}
.marg7con1{
  margin-top: 3%;
}
.marg7con2{
  margin-top: 25%;
}
.box7{
  background-color: #fff;
  border-radius: 40px;
  width: 25%;
  margin:1.5%;
  box-shadow: 7px 7px black;
  border: 3px solid #000;
}
.box7:hover{
  animation: animaBox7 0.1s ease;
  
}
@keyframes animaBox7 {
  0% {
      transform:  rotate(0deg);
    
  
  }
  15% {
    transform:  rotate(15deg)
    
  }
  25% {
    transform:  rotate(0deg)
    
  }
  50% {
    transform:  rotate(-15deg)
    
  }
  65% {
      transform:  rotate(0deg);
    
  
  }
  75% {
    transform:  rotate(15deg)
    
  }
  100% {
    transform:  rotate(0deg)
    
  }

}
.titleBox7{
  font-family: BalginBlack;
  font-size: 26px;
  color: #000;
  border-top: 2px solid #000;
  padding: 15px;
  text-align: center;
}
.textBox7{

  font-size: 16px;
  color: #000;
  height: 120px;
  padding: 35px;
  text-align: center;
}
.cena8{
  background-color: #023AEC;
  overflow: none;
  box-sizing: border-box;
  z-index: 99999;
}
.cena9{
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-width: 100vh;
  background-color: #112AA5;
}
.textQuem{
  font-size: 52px;
  font-weight: black;
  font-family: BalginBlack;
  width: 100vw;
  color: #fff;
  position: absolute;
  top: 20%;
  z-index: 999;
  text-align: center;
  text-shadow: 4px 4px 2px black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

}
.containerQuem{
  width: 80vw;
  height: calc(63.2vw /3);
  display: flex;
  position: absolute;
  top: 40%;
  margin-left: 10vw;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.boxQuem{
  font-family: BalginBlack;
  width: 24%;
  margin: 2%;
  height: 100%;
  min-height: 150px;
  background-color: #fff;
  font-weight: bold;
  border-radius: 40px;
  box-shadow: 12px 12px black;
  backface-visibility: hidden;
  border: 3px solid #000;
}


.boxQuem:hover .cadastroQuem {
  opacity: 1;
  animation: go-cadastro 0.3s linear;
}

@keyframes go-cadastro {
  from {
      bottom: -200;
      opacity: 0;
  
  }
  to {
    bottom: 0;
    opacity: 1;
    
  }
}

.cadastroQuem{
  width: 24%;
  height: 100%;
  top: 0;
  min-height: 150px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 12px 12px black;
  backface-visibility: hidden;
  position: absolute;
  opacity: 0;
  background-color: #864AE5;
  overflow: hidden;

}
.textCadastro{
  font-size: 14px;
  padding: 30px 20px ;
  background-color: #fff;
  height: 70%;
  display: flex;
  align-items: center;
}
.titleCadastro{
  font-size: 26px;

  text-shadow: 4px 4px black;
  position: absolute;
  bottom: 10%;
  width: 100%;
  min-height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}
.boxQuem1{
    background-image: url(../public/images/boxQuem1.svg);
    background-size: 70%;
    background-position: center 18px ;
    background-repeat: no-repeat;
}
.boxQuem2{
    background-image: url(../public/images/boxQuem2.svg);
    background-size: 70%;
    background-position: center 24px ;
    background-repeat: no-repeat;
}
.boxQuem3{
    background-image: url(../public/images/boxQuem3.svg);
    background-size: 70%;
    background-position: center 20px ;
    background-repeat: no-repeat;
}
.titleBoxQuem{
    font-family: BalginBlack;
    font-size: 26px;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: bold;
    margin-top: 80%;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 3px 3px 1px black;
    
}
.cena10{
  background-color: #023AEC;
  color: #fff;
}

.take{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.boca1{
  width: 60vw;
  top:15vh;
  max-width: 860px;
  position: fixed;
  align-self: center;
  scroll-snap-align: center;
  overflow: hidden;
  max-height: 135px;
  height: 135px;
  z-index: 9999;
  display: none;
 
}

.boca2{
  width: 60vw;
  top:15vh;
  max-width: 860px;
  position: fixed;
  align-self: center;
  scroll-snap-align: center;
  overflow: hidden;
  max-height: 193px;
  height: 193px;
  z-index: 99999;
  display: none;
 
}

.boca3{
  width: 60%;
  top:30%;
  max-width: 1000px;
  position: absolute;
  align-self: center;
  scroll-snap-align: center;
  overflow: hidden;
  max-height: 495px;
  height: 495px;
  z-index: 99999;
  display: none;
 
}
.boca4{
  width: 80%;
  top:10%;
  position: absolute;
  align-self: center;
  scroll-snap-align: center;
  overflow: hidden;
  z-index: 99999;
  display: none;
  opacity: 0;
  /*animation: go-boca1 5s linear;*/
 
}
@keyframes go-boca1 {
  from {
      transform : scale(1);
      opacity: 1;
  
  }
  to {
    transform : scale(3);
    opacity: 0;
    
  }
}


.legenda{
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #000;
  text-align: center;
  color: #fff;
  line-height: 50px;
}




.caixaCena9{
  width: 35vw;
  top: 25vh;
  left: 32vw;
  height: auto;
  align-self: center;
  justify-content: center;
  position: absolute;
  z-index: 999;
  
}
.bgCena9 {
   position: absolute;
   font-family: BalginBlack;
   text-shadow: 5px 5px black;
   font-size: 9vw;
   align-items: center;
   color:#fff;
   z-index: 1;
   width: 100vw;
  height: 100vh;
   overflow: hidden;
   align-content: center;
  display: flex;
  justify-content: center;
   background-color: #112AA5; 
   animation: moveBgCena9 2s ease-in-out infinite ;

}

@keyframes moveBgCena9 {
  from {
      transform: scale(0);
     
  
  }
  to {
    transform: scale(1);
 
    
  }
}


.buttomConvite{
  background-color: #fff;
}
.boxCom{
  width: 40%;
  height: auto;
  margin: 5%;

}
.redes{
  width: 50%;
}
.rede1{

}
.rede2{
  
}.rede3{
  
}
.menu{
  z-index: 99;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 87px;
    height: 87px;
    z-index: 9999999999999999;

}

.menu:hover{
    width: 100px;
    height: 100px;
    right: 10px;
  top: 10px;
  }
.logo{
  position: fixed;
  left:30px;
  top:20px;
  z-index: 9999999999999999;
  width: 197px;
}

.titleFooter{
  font-size: 52px;
  font-family: BalginBlack;
  margin-top:10vh;
  margin-bottom:20vh;
  width: 40vw;
  margin-left:30vw;
  text-shadow: 4px 4px black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-align: center;
}
.box2Footer{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.buttomFooter{
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  height: 79px;
  line-height: 60px;
  padding: 10px 30px;
  display: block;
  margin: 0 10px;
  color: #000;
  font-family: BalginBlack;
  font-size: 32px;
  text-shadow: none;
  border: 2px solid #000;
  box-shadow: 6px 6px #000;
}
.linkFooter{
  width: 79px;
  height: 79px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 20px;
  box-shadow: 6px 6px #000;
  overflow: hidden;
  padding: 10px;
  display: block;
  margin: 0 10px;
  float: left;
}
.containerFooter{
  width: 100vw;
  height: auto;
  display: flex;
}
.boxFooter{
  width: 50%;
  height: auto;
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px black;
  justify-content: center;
 
}
.bottomFooter{
  display: flex;
  font-size: 10px;
  width: 90vw;
  margin-left: 5vw;
  position: absolute;
  bottom:  20px; 

}
.bottomTextFooter{
  width: 90%;
  text-align: justify;
}
.bottomLogoFooter{
  width: 10%;
}
.bottomLogoFooter img{
  float: right;
}
.menuBox{
  height: auto;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  width: 100vw;
  max-width: 100vw;
  position: fixed;
  background-size: cover;
  background-position: center center;
  z-index: 9999999;
  clear:both;
  top: 0;

}
.container{
  display: grid;
  position: absolute;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 20vh 20vh 30vh;
  width: 90vw;
  margin-left: 5vw;
  height: 80vh;
  margin-top: 15vh;
  overflow: hidden;
  clear:both;
}

.btMenu:hover{
  width:90%;
  margin:2.5%;
  }
.btMenu{
  position: relative;
  width:80%;
  height: 80%;
  margin:5%;

  float: left;

}

.BlackBox{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background: #000;
   line-height: 50px;
   overflow: hidden;
   z-index: 999999;

}
.BlueBox{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background: #023AEC;
   line-height: 50px;
   overflow: hidden;
   z-index: 999999;

}

.textMotion {
  width: 7000px;
  padding: 5px 0;
  color: #ffffff;
  font-size: 36px;
  text-shadow: 2px 2px #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  display: flex;
  font-family: BalginBlack;
}

.textMotion > * {
  display: inline-block;
  animation: news 20s infinite linear;
}


@keyframes news {
  0% {transform: translateX(0);}
  100% {transform: translateX(-4135px);}
}


/*-----------*/


.muro2{
  position: fixed;
  background-color: #030D78;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  right: 0;
  left: 0;
  top:0;
  z-index: 2;
  display: none;
  overflow: hidden;
  -webkit-transition: 0.3s ease-in-out;
  z-index: 9999;
}


.juice{
  position: fixed;
  
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top:0;
  z-index: 2;
  display: block;
}

.cadastrar{
  position: fixed;
  background-image: url(../public/images/cenario.svg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  right: 0;
  left: 0;
  top:0;
  z-index: 2;
  display: block;
}

.roadmap{
  position: fixed;
  background-color: #FA5E85;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  right: 0;
  left: 0;
  top:0;
  z-index: 2;
  display: block;
}

.comunidadebox{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #023AEC;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  right: 0;
  left: 0;
  top:0;
  z-index: 2;
  display: block;
}
.fakeScroll{
  height: 10000px;
  width: 1px;
  position: absolute;
}
.menu{
  z-index: 99;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  width: 87px;
    height: 87px;
    z-index: 9999999;
}

.close{
  z-index: 99;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.limaoastronauta{
  position: absolute;
  top:-400px;
  left:-800px;
  transition: all .9s linear;
}
.aster{
  position: absolute;
  left: -800px;
  top:800px;
  background: none;
  width: 827px;
  z-index: 8888;
  transition: all .9s linear;
  animation: moveRight 8s linear ;
  opacity: 0;
}
@keyframes moveRight {
  from {
    transform: translateX(-800px);
    transform: translateY(800px);
  }
  10% {
    transform: translateX(400px);
    transform: translateY(700px);
  }
  50% {
    transform: translateX(800px);
    transform: translateY(500px);
  }
  to {
    transform: translateX(1800px);
    transform: translateY(200px);
  }
}

.boca1{
  width: 70%;
  max-width: 860px;
 
}
@keyframes go-boca1 {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}
.boca2{
  width: 70%;
  max-width: 860px;
 
}

.laranjalateral{
position:absolute;
  animation: go-laranjalateral 20s infinite alternate;
  width:273px; 
  height:274px;

}
.textoimages1{
  font-weight: bold;
  font-size: 96px;
  position: fixed;
  color: #fff;
  width: 60%;
  margin-left: 20%;
  text-align: center;
  margin-top: 20%;
  opacity: 0;
  transition: all .9s linear;
  text-shadow: 4px 4px #000;
}
.textoimages2{
  position: fixed;
  color: #fff;
  width: 60%;
  font-size: 1px;
  margin-left: 20%;
  text-align: center;
  margin-top: 20%;
  opacity: 0;
  transition: all .9s linear;
  text-shadow: 4px 4px #000;
  
}
@keyframes go-laranjalateral{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}


.laranjinha{
position:absolute;
  animation: go-laranjinha 20s linear;
  width:616px; 
  height:484px;

}

@keyframes go-laranjinha{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}
.limao01{
position:fixed;
  animation: go-limao01 6s linear;
  width:150px; 
  height:150px;
  top:0;
  left: 290px;
  opacity: 0;

}

@keyframes go-limao01{
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-150px);
    opacity: 0;
  }
}

.limao{
position:absolute;
  animation: go-limao 20s infinite alternate;
  width:253px; 
  height:245px;

}

@keyframes go-limao{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.limao02{
position:absolute;
  animation: go-limao02 20s infinite alternate;
  width:275px; 
  height:269px;

}

@keyframes go-limao02{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.mobile{
position:absolute;
  animation: go-mobile 20s infinite alternate;
  width:419px; 
  height:547px;

}

@keyframes go-mobile{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.moeda{
position:absolute;
  animation: go-moeda 20s infinite alternate;
  width:158px; 
  height:161px;

}

@keyframes go-moeda{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.moeda02{
position:absolute;
  animation: go-moeda02 20s infinite alternate;
  width:148px; 
  height:120px;

}

@keyframes go-moeda02{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.moeda03{
position:absolute;
  animation: go-moeda03 20s infinite alternate;
  width:279px; 
  height:309px;

}

@keyframes go-moeda03{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.montanha{
position:absolute;
  animation: go-montanha 20s infinite alternate;
  width:1439px; 
  height:314px;

}

@keyframes go-montanha{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.nuvem07{
position:absolute;
  animation: go-nuvem07 20s infinite alternate;
  width:414px; 
  height:247px;

}

@keyframes go-nuvem07{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.nuvem08{
position:absolute;
  animation: go-nuvem08 20s infinite alternate;
  width:617px; 
  height:342px;

}

@keyframes go-nuvem08{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.nuvem09{
position:absolute;
  animation: go-nuvem09 20s infinite alternate;
  width:420px; 
  height:166px;

}

@keyframes go-nuvem09{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.nuvem10{
position:absolute;
  animation: go-nuvem10 20s infinite alternate;
  width:211px; 
  height:133px;

}

@keyframes go-nuvem10{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.nuvem11{
position:absolute;
  animation: go-nuvem11 20s infinite alternate;
  width:167px; 
  height:64px;

}

@keyframes go-nuvem11{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}


.nuvem12{
position:absolute;
  animation: go-nuvem12 20s infinite alternate;
  width:234px; 
  height:199px;

}

@keyframes go-nuvem12{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.nuvem13{
position:absolute;
  animation: go-nuvem13 20s infinite alternate;
  width:167px; 
  height:64px;

}

@keyframes go-nuvem13{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.nuvem14{
position:absolute;
  animation: go-nuvem14 20s infinite alternate;
  width:206px; 
  height:77px;

}

@keyframes go-nuvem14{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.nuvem15{
position:absolute;
  animation: go-nuvem15 20s infinite alternate;
  width:180px; 
  height:69px;

}

@keyframes go-nuvem15{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.nuvem16{
position:absolute;
  animation: go-nuvem16 20s infinite alternate;
  width:91px; 
  height:52px;

}

@keyframes go-nuvem16{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.nuvemroxa{
position:absolute;
  animation: go-nuvemroxa 20s infinite alternate;
  width:337px; 
  height:528px;
}

@keyframes go-nuvemroxa{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.pera{
position:absolute;
  animation: go-pera 20s infinite alternate;
  width:379px; 
  height:552px;

}

@keyframes go-pera{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.retangulo{
position:absolute;
  animation: go-retangulo 20s infinite alternate;
  width:254px; 
  height:276px;

}

@keyframes go-retangulo{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.retangulocomazul{
position:absolute;
  animation: go-retangulocomazul 20s infinite alternate;
  width:309px; 
  height:302px;

}

@keyframes go-retangulocomazul{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.retangulogrande{
position:absolute;
  animation: go-retangulogrande 20s infinite alternate;
  width:587px; 
  height:508px;

}

@keyframes go-retangulogrande{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.retangulolimao{
position:absolute;
  animation: go-retangulolimao 20s infinite alternate;
  width:309px; 
  height:302px;

}

@keyframes go-retangulolimao{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.rosto{
position:absolute;
  animation: go-rosto 20s infinite alternate;
  width:866px; 
  height:138px;

}

@keyframes go-rosto{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.suco{
position:absolute;
  animation: go-suco 20s infinite alternate;
  width:254px; 
  height:373px;

}

@keyframes go-suco{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.uva{
position:absolute;
  animation: go-uva 20s infinite alternate;
  width:226px; 
  height:296px;

}

@keyframes go-uva{
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

/*------*/
@media (max-width: 600px) {
  .constru2{
  position: absolute;
  top: 0;
  z-index: 99999;
  width: 180px;
  top:45%;
  left: 60%;
  margin-left: -45px;

}
.container{
  display: grid;
  position: absolute;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 30% 30% 30%;
  align-items: center;
  width: 80vw;
  height: 80vh;
  margin-top: 20vh;
  overflow: hidden;
  clear:both;
}
.caixaCena5{
  width: 153px;
  height: 151px;
  align-self: center;
  margin-top: 5%;
  z-index: 2;
  
}

  .menu{
    width: 60px;
    height: 60px;
    right: 10px;
    top:10px;
  }
  .close{
    width: 60px;
    height: 60px;
    right: 10px
  }
  .logo{
    position: fixed;
    left:10px;
    top:10px;
    z-index: 999999999;
    width: 150px;
  }
}
